In [4]:
#importing required library
import pandas as pd

#importing covid 19 data set
df = pd.read_csv("covid_19_data.csv")

#viewing the data set
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [4]:
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [8]:
#check data size
df.shape
print("This data set has {} rows and {} columns".format(df.shape[0], df.shape[1]))

This data set has 306429 rows and 8 columns

In [6]:
#check what variables (data) we are going to analyze
df.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [7]:
#check what kinds of variable types are included
df.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [8]:
## check the number of non-null values in each column
df.count()

SNo                306429
ObservationDate    306429
Province/State     228326
Country/Region     306429
Last Update        306429
Confirmed          306429
Deaths             306429
Recovered          306429
dtype: int64

In [9]:
#check the number of missing values in each column
df.isnull().sum()

SNo                    0
ObservationDate        0
Province/State     78103
Country/Region         0
Last Update            0
Confirmed              0
Deaths                 0
Recovered              0
dtype: int64

In [11]:
#checking the percentage of missing values of each column
df.isnull().sum()/df.shape[0]

SNo                0.000000
ObservationDate    0.000000
Province/State     0.254881
Country/Region     0.000000
Last Update        0.000000
Confirmed          0.000000
Deaths             0.000000
Recovered          0.000000
dtype: float64

In [13]:
# Checking the varibles that present null values the most
(df.isnull().sum()/df.shape[0]).sort_values(ascending = False)[0:11]

Province/State     0.254881
SNo                0.000000
ObservationDate    0.000000
Country/Region     0.000000
Last Update        0.000000
Confirmed          0.000000
Deaths             0.000000
Recovered          0.000000
dtype: float64

In [12]:
#Checking the variables that present null values the least
(df.isnull().sum()/df.shape[0]).sort_values(ascending=True) [0:11]

SNo                0.000000
ObservationDate    0.000000
Country/Region     0.000000
Last Update        0.000000
Deaths             0.000000
Confirmed          0.000000
Recovered          0.000000
Province/State     0.254881
dtype: float64

In [43]:
#SHOW the number of Confirmed,Deaths and recovered cases in each region.
cases_by_region = df.groupby('Country/Region')[['Confirmed', 'Deaths', 'Recovered']].sum()

cases_by_region

                                 Confirmed    Deaths   Recovered
Country/Region
 Azerbaijan                            1.0       0.0         0.0
('St. Martin',)                        2.0       0.0         0.0
Afghanistan                     17026442.0  669075.0  13464399.0
Albania                         19768869.0  375955.0  13945256.0
Algeria                         27684358.0  834464.0  18959299.0
...                                    ...       ...         ...
West Bank and Gaza              41819444.0  440378.0  37003116.0
Yemen                             962066.0  237613.0    506523.0
Zambia                          13493953.0  205990.0  12625626.0
Zimbabwe                         6484581.0  237234.0   5594887.0
occupied Palestinian territory        25.0       0.0         0.0

[229 rows x 3 columns]

In [38]:
df.groupby('Country/Region')['Confirmed'].sum().sort_values(ascending=True)

Country/Region
China              0.000000e+00
 Azerbaijan        1.000000e+00
Cape Verde         1.000000e+00
Channel Islands    1.000000e+00
East Timor         1.000000e+00
                       ...
France             8.551890e+08
Russia             9.305488e+08
Brazil             2.653588e+09
India              3.226768e+09
US                 6.049146e+09
Name: Confirmed, Length: 229, dtype: float64

In [44]:
#Remove all the records where confirmed cases is less than 10

df=df[~(df['Confirmed']<10)]
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
13,14,01/22/2020,Hubei,Mainland China,1/22/2020 17:00,444.0,17.0,28.0
34,35,01/22/2020,Zhejiang,Mainland China,1/22/2020 17:00,10.0,0.0,0.0
41,42,01/23/2020,Beijing,Mainland China,1/23/20 17:00,22.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [46]:
#Remove all the records where confirmed cases is less than 10
df=df[~(df['Confirmed']<10)]
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
13,14,01/22/2020,Hubei,Mainland China,1/22/2020 17:00,444.0,17.0,28.0
34,35,01/22/2020,Zhejiang,Mainland China,1/22/2020 17:00,10.0,0.0,0.0
41,42,01/23/2020,Beijing,Mainland China,1/23/20 17:00,22.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [48]:
#INwhich region,max number of confirmed cases were recorded?
df.groupby("Country/Region").Confirmed.sum().sort_values(ascending=False).head(10)

Country/Region
US         6.049144e+09
India      3.226768e+09
Brazil     2.653588e+09
Russia     9.305488e+08
France     8.551871e+08
UK         7.837912e+08
Spain      6.491117e+08
Italy      6.366942e+08
Turkey     6.189409e+08
Germany    5.241668e+08
Name: Confirmed, dtype: float64

In [49]:
#in which region, min number of death cases were recorded?
df.groupby("Country/Region").Deaths.sum().sort_values(ascending=True).head(10)

Country/Region
Dominica                 0.0
French Guiana            0.0
Holy See                 0.0
Guadeloupe               0.0
Macau                    0.0
Reunion                  0.0
Saint Kitts and Nevis    0.0
Palestine                0.0
Republic of Ireland      0.0
Solomon Islands          0.0
Name: Deaths, dtype: float64

In [56]:
#How many confirmed,deaths and recovered cases were reported from India
df[df['Country/Region'] == 'India']

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
3372,3373,03/04/2020,NaN,India,2020-03-04T12:33:03,28.0,0.0,3.0
3537,3538,03/05/2020,NaN,India,2020-03-05T13:53:03,30.0,0.0,3.0
3712,3713,03/06/2020,NaN,India,2020-03-06T13:03:12,31.0,0.0,3.0
3915,3916,03/07/2020,NaN,India,2020-03-07T18:13:27,34.0,0.0,3.0
4143,4144,03/08/2020,NaN,India,2020-03-08T09:23:05,39.0,0.0,3.0
...,...,...,...,...,...,...,...,...
306334,306335,05/29/2021,Telangana,India,2021-05-30 04:20:55,574026.0,3247.0,533862.0
306351,306352,05/29/2021,Tripura,India,2021-05-30 04:20:55,50739.0,507.0,43190.0
306377,306378,05/29/2021,Uttar Pradesh,India,2021-05-30 04:20:55,1688152.0,20208.0,1621743.0
306378,306379,05/29/2021,Uttarakhand,India,2021-05-30 04:20:55,327112.0,6360.0,289642.0
306406,306407,05/29/2021,West Bengal,India,2021-05-30 04:20:55,1354956.0,15268.0,1237290.0

In [57]:
#Sort the entire data wrt no of recovered cases in descending order
df.sort_values(by=['Recovered'],ascending=False)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
306127,306128,05/29/2021,Maharashtra,India,2021-05-30 04:20:55,5713215.0,94030.0,5339838.0
305362,305363,05/28/2021,Maharashtra,India,2021-05-29 04:20:41,5692920.0,93198.0,5307874.0
304597,304598,05/27/2021,Maharashtra,India,2021-05-28 04:20:36,5672180.0,92225.0,5276203.0
303832,303833,05/26/2021,Maharashtra,India,2021-05-27 04:20:59,5650907.0,91341.0,5241833.0
303067,303068,05/25/2021,Maharashtra,India,2021-05-26 04:20:35,5626155.0,90349.0,5218768.0
...,...,...,...,...,...,...,...,...
141,142,01/25/2020,Shandong,Mainland China,1/25/20 17:00,27.0,0.0,0.0
142,143,01/25/2020,Guangxi,Mainland China,1/25/20 17:00,23.0,0.0,0.0
143,144,01/25/2020,Hainan,Mainland China,1/25/20 17:00,19.0,0.0,0.0
144,145,01/25/2020,Jiangxi,Mainland China,1/25/20 17:00,18.0,0.0,0.0
11415,11416,04/02/2020,New Hampshire,US,4/2/20 8:53,316.0,3.0,0.0